.yellow {
    background-color: $yellow;
}

.green {
    background-color: $green;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.space {
    margin: 30px;
}

.content-area {
    background-color: white;
}