$font__main: "Trebuchet MS", Arial, Helvetica, sans-serif;
$font__code: "Trebuchet MS", Arial, Helvetica, sans-serif;
$font__pre: "Trebuchet MS", Arial, Helvetica, sans-serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
