// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

@mixin zoom($milliseconds) {
    transition: $milliseconds;
    -webkit-transition: all $milliseconds ease-in;
    -ms-transition: all $milliseconds ease-in;
    -moz-transition: all $milliseconds ease-in;
    &:hover {
        z-index: 2;
        -webkit-transition: all $milliseconds ease-in;
        -webkit-transform: scale(1.05);
        -ms-transition: all $milliseconds ease-in;
        -ms-transform: scale(1.05);
        -moz-transition: all $milliseconds ease-in;
        -moz-transform: scale(1.05);
        transition: all $milliseconds ease-in;
        transform: scale(1.05);
    }
}

@mixin transition($time) {
    transition: $time;
    -webkit-transition: $time;
    -moz-transition: $time;
}